<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style1.css">
    <title>Document</title>
</head>
<body>
    <div class="container mb-4">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link me-3" aria-current="page" href="/program/show-all-programs">All Progarams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/program/add-program-page">Add Program</a>
            </li>
        </ul>
    </div>
    <hr>
    <div class="container">
        <form action="/program/create-program-page" method="post" class="myForm">
            <div class="mb-3">
                <label for="id" class="form-label">Program ID</label>
                <input type="text" class="form-control" id="id" name="id">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Program Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="duration" class="form-label">Program Duration</label>
                <input type="text" class="form-control" id="duration" name="duration">
            </div>
            <div class="mb-3">
                <label for="fee" class="form-label">Program Fee</label>
                <input type="text" class="form-control" id="fee" name="fee"> 
            </div>
            <div class="btn">
                <button class="btn btn-primary" type="submit">Add Program</button>
                <button class="btn btn-warning" type="reset">Reset</button>
            </div>
            
        </form>
        
    </div>
</body>
</html>