<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
        <h2>Program Details</h2> 
        <table class="table-bordered text-center table mt-5">
            <thead>
            <tr>
                <th>Program ID</th>
                <td>{{this.program.pro_id}}</td>
            </tr>
            <tr>
                <th>Program Name</th>
                <td>{{this.program.pro_name}}</td>
            </tr>
            <tr>
                <th>Program Duration(Month)</th>
                <td>{{this.program.pro_duration}}</td>
            </tr>
            <tr>
                <th>Program Fee(Rs.)</th>
                <td>{{this.program.pro_fee}}</td>
            </tr>
            </thead>
        </table>
    </div>
</body>
</html>

